.App {
  text-align: center;
  margin: 0 auto;
  min-height: 100vh; /* Ensure it takes full height */
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(14px + 2vmin);
  color: #282c34;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.App-header.night-mode {
  background-color: #1a1a1a;
  color: #ffffff;
}

.App-header.night-mode a {
  color: #ffffff;
}

.App-header.night-mode a:hover {
  color: #d4af37;
}

.App-logo {
  height: 30vmin;
  width: auto;
  pointer-events: none;
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

p {
  margin: 1rem 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.social-links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  max-width: 100%;
}

.social-links li {
  margin: 10px;
  flex-basis: 33.33%;
  text-align: center;
}

.social-links a {
  color: #282c34;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

.social-links a:hover {
  color: #d4af37;
  transform: translateY(-5px);
}

.social-links span {
  font-size: 14px;
  margin-top: 8px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.social-links a:hover span {
  opacity: 1;
}

/* Responsive styles for smaller screens */
@media (max-width: 600px) {
  .App-header {
    font-size: calc(12px + 2vmin);
    padding: 10px;
  }

  .social-links li {
    margin: 5px;
    flex-basis: 50%;
  }

  .social-links span {
    font-size: 12px;
    margin-top: 5px;
  }
}

/* Styles for full HD screens */
@media (min-width: 1920px) {
  .App-header {
    font-size: calc(18px + 2vmin);
    padding: 40px;
  }

  .social-links {
    margin-top: 30px;
  }

  .social-links li {
    margin: 20px;
    flex-basis: 20%;
  }

  .social-links a {
    font-size: 24px;
  }

  .social-links span {
    font-size: 18px;
    margin-top: 12px;
  }
}
